body{
    background-color: #cccccc;
}
h1{
    color: whitesmoke; background-color: #830c0c;
}
p{
    background-color: #d4d4d4;
}
h2{
    color: white; background-color: #830c0c;;
}
div{
    background-color: #d4d4d4;
}
#d2{
    color:black; background-color:#f0f0f0;
}
#d3{
    color: whitesmoke; background-color: #830c0c;
}